@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --gradient-light: rgb(255, 209, 209);
  --gradient-dark: rgb(255, 167, 141);
  --container-bg: rgb(255, 230, 230);
  --container-shadow: rgba(255, 94, 94, 0.6);
  --btn-clr: rgb(44, 28, 28);
  --progess-bar: rgb(255, 73, 118);
  --cover-shadow: rgba(0, 0, 0, 0.02);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(0deg, var(--gradient-light) 23.8%, var(--gradient-dark) 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music-container {
  background-color: var(--container-bg);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 var(--container-shadow);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 2px 2px var(--cover-shadow);
  transform: translate(-50%, 50%);
}

.img-container img {
  box-shadow: 0px 0px 2px 2px var(--cover-shadow);
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: var(--container-bg);
  border: 0;
  color: var(--btn-clr);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  font-size: 40px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 6px;
  width: 100%;
}

.progress {
  background-color: var(--progess-bar);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.volume {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 15px 15px 0;
  position: absolute;
  bottom: 10px;
  right: -40px;
  width: 40px;
  height: calc(100% - 20px);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .volume {
  opacity: 1;
  transform: translateX(0%);
}

.volume-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 0;
}

.volume-container .mute-btn {
  cursor: pointer;
}

.range-container {
  height: calc(100% - 40px);
  width: 6px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  z-index: 2;
}

.range {
  background-color: var(--progess-bar);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: width 0.1s linear;
  z-index: 0;
}
